{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement{% endblock %}

{% block body %}
    <h2>Erreur de paiement</h2>
    <p>
        Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>,<br/><br/>
        Nous sommes désolé mais votre paiement à échouer pour votre commande n° <strong>{{ order.reference }}</strong>,<br/>
        Une confirmation d'erreur viens de vous être envoyer par email à l'adresse <strong>{{ order.user.email }}</strong>.
    </p>

    <a href="{{ path('order') }}" class="btn btn-success">Réessayez le paiement</a>
{% endblock %}
